.heroAbout {
  margin-top: 80px;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroTitle {
  font-size: 10rem;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  margin: 0;
}

.heroDescription {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .heroBody {
    padding-top: 36px;
  }

  .heroTitle {
    font-size: 4.5rem;
  }

  .heroDescription {
    font-size: 1.25rem;
  }

  .heroAbout {
    margin-top: 0;
  }
}

