.postBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px 60px;
}

.postImage {
  margin: 0;
}

.postTitle {
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .postBody {
    gap: 20px;
  }
  .postTitle {
    font-size: 0.75rem;
    margin-top: 5px;
  }
}